<<<<<<< HEAD
.div-nav-it{
  margin-top: 10px;
}
.nav-item {
    font-size: 14pt;
    text-decoration: none;
    color: white;
    margin: 10px;
    padding: 10px;
  }
.nav-item active{
  color: gold;
=======
.div-nav-it{
  margin-top: 10px;
}
.nav-item {
    font-size: 14pt;
    text-decoration: none;
    color: white;
    margin: 10px;
    padding: 10px;
  }
.nav-item active{
  color: gold;
>>>>>>> 8d9d80c8514a1d7f30752702e159e6fe9f7085aa
}