<<<<<<< HEAD
.make-post-area{
    font-size: 16px;
    resize: none;
    box-sizing: border-box;
    border: 2px solid brown;
    width: 50%;
}
.make-post-btn{
    margin-top: 10px;
    margin-left: 10px;
    background-color: coral;
    border: 2px solid brown;
    border-radius: 4px;
    color: white;
    font-size: 16px;
=======
.make-post-area{
    font-size: 16px;
    resize: none;
    box-sizing: border-box;
    border: 2px solid brown;
    width: 50%;
}
.make-post-btn{
    margin-top: 10px;
    margin-left: 10px;
    background-color: coral;
    border: 2px solid brown;
    border-radius: 4px;
    color: white;
    font-size: 16px;
>>>>>>> 8d9d80c8514a1d7f30752702e159e6fe9f7085aa
}